._tedx_payment_title {
    margin: 100px 0;
    text-align: left;
    line-height: 1.5rem;
    
    h1 {
        font-size: 1.25rem;
        font-weight: bold;
        @include md { font-size: 2rem; }

        span {
            color: $red;    
        }
    }

    ._tedx_payment_method_container {
        display: inline-block;
        background: linear-gradient(135deg, #e25544 2.88%, #42127e 98.14%);
        margin-top: 50px;
        @include lg { margin-top: 100px; }
        padding: 2rem;
        border-radius: .25rem;

        li {
            margin: .5rem 0;
        }
    }
}
._tedx_payment_form_wrapper {
    width: 100%;
    box-sizing: border-box;
    ._tedx_payment_form_content {    
        @include md {
            display: grid;
            grid-template-areas: 
                "firstName lastName"
                "email phoneNumber"
                'ticketType ticketPrice'
                "payment proofPayment"
                "address address";
            grid-gap: 2rem;
            grid-template-columns: 1fr 1fr;
        }
        
        ._tedx_payment_form_group {
            // border: 1px solid green;
            margin-bottom: 2rem;
            @include md {
                margin-bottom: 1rem;
            }
    
            label {
                position: relative;
                display: inline;

                @include lg {
                    font-size: 1rem;
                }
    
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(1rem, 0);
                    width: 100%;
                    height: 50%;
                    background: $red-50;
                    z-index: -1;
                }
            }
    
            input,
            select,
            textarea,
            option {
                width: 100%;
                background: none;
                border: none;
                border-bottom: 1px solid $white;
                padding: 1rem 0;
                color: $white;
                font-family: 'Open Sans', sans-serif;
            }

            .input-file {
                color: transparent;
              }
              .input-file::-webkit-file-upload-button {
                visibility: hidden;
              }
              .input-file::before {
                content: 'Pilih File';
                color: $white;
                display: inline-block;
                background: none;
                border: 1px solid $white;
                border-radius: 3px;
                padding: 5px 8px;
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                font-weight: 700;
                font-size: 10pt;
              }
              .input-file:hover::before {
                border-color: black;
              }
              .input-file:active {
                outline: 0;
              }
              .input-file:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
              }
        }
        ._tedx_payment_form_group.firstName {
            grid-area: firstName;
        }
    
        ._tedx_payment_form_group.lastName {
            grid-area: lastName;
        }
    
        ._tedx_payment_form_group.email {
            grid-area: email;
        }
    
        ._tedx_payment_form_group.phoneNumber {
            grid-area: phoneNumber;
        }
    
        ._tedx_payment_form_group.address {
            grid-area: address;
        }
    
        ._tedx_payment_form_group.ticketType {
            grid-area: ticketType;
        }
    
        ._tedx_payment_form_group.ticketPrice {
            grid-area: ticketPrice;
        }
    
        ._tedx_payment_form_group.payment {
            grid-area: payment;
        }
    
        ._tedx_payment_form_group.proofPayment {
            grid-area: proofPayment;

            input {
                border: none;
            }
        }
    }

    button {
        margin-top: 50px;
        background: none;
        color: $white;
        border: none;
        position: relative;
        grid-area: button;
        text-align: left;
        display: inline;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(1rem, 0);
            width: 100%;
            height: 50%;
            background: $red-50;
            z-index: -1;
        }
    }
}
._tedx_payment_method_container {
    display: inline-block;
    background: linear-gradient(135deg, #A1FF8B 0%, #3F93FF 96.83%);
    padding: .75rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 600;
    margin: 0 1rem;
}