// Base
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Layouts
@import "layouts/header";
@import "layouts/navigation";
@import "layouts/hero";
@import "layouts/footer";

// Pages
@import "pages/coreDroplink";
@import "pages/partners";
@import "pages/faq";
@import "pages/auth";
@import "pages/dashboard";
@import "pages/ticketPayment";

@import "pages/pembelianTicket";
@import "pages/permintaanToken";
@import "pages/kelolaAkun";

// Sections
@import "sections/videoTeaser";
@import "sections/speakerList";
@import "sections/animaArchetype";
@import "sections/ticketPurchase";
@import "sections/aboutTed";
@import "sections/coreTeams";
@import "sections/volunteerTeams";
@import "sections/timelineTedx";

// Components
@import "components/cursor";
@import "components/link";
@import "components/menu";
@import "components/title";
@import "components/ticket";
@import "components/form";

body {
    font-family: "Open Sans", sans-serif;
    position: relative;

    &.preloader {
        
        .wrapper {
            z-index: 9999;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            background: $black;
        }
        .main-circle {
            width: 150px;
            height: 150px;
            border: 4px solid $red;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            position: relative;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: rotate 2s infinite;
        }
        .main-circle:before {
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            border: 4px solid transparent;
            border-right: 4px solid $white;
            transform: rotate(40deg);
            border-radius: 50%;
        }
        .green-circle {
            animation: rotate 2s infinite 0.4s;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            border: 4px solid $red;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            transform: rotate(-20deg);
            border-radius: 50%;
            position: relative;
        }
        .green-circle:before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            border: 4px solid transparent;
            border-right: 4px solid $red;
            transform: rotate(60deg);
        }
        .brown-circle {
            animation: rotate 2s infinite 0.6s;
            width: 80px;
            height: 80px;
            border: 4px solid $white;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            transform: rotate(-20deg);
            border-radius: 50%;
        }
        @keyframes rotate {
            from {
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}

._tedx {
    overflow: hidden;
    position: relative;
    color: $white;
    background: $black;
    z-index: 1;
    padding: 0 25px;
    @include md {
        padding: 0 50px;
    }
    @include lg {
        padding: 0 75px;
    }
    @include xl {
        padding: 0 100px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("/img/background/noise.svg") center center/cover fixed;
        z-index: -1;
    }
}

._tedx_section {
    text-align: center;
    margin: 150px 0;
}

._tedx_section_about_cta {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include md {
        flex-direction: row;
    }
    align-items: center;
    justify-content: space-between;
}

.volunteer {
    padding-top: 275px;
    @include md {
        padding-top: 50px;
    }
    @include lg {
        padding-top: 150px;
    }
    margin: 150px 0;
}
