._tedx_form_group {
    label {
        margin-bottom: 1rem;
    }

    input,
    textarea {
        appearance: none;
        display: block;
        width: 100%;
        padding: 0.75rem 1rem;
        outline: none;
        border: none;
        border-bottom: 1px solid $white-50;
        background: none;
        color: $white;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
    }

    &.not-filled {
        border-bottom: 1px solid $red;

        input::placeholder {
            color: $red;
        }
    }
}

._tedx_submit_button {
    margin-top: 50px;
}
