#ticketPurchase {
    margin: 50px 0;
    @include md { margin: 150px 0; }
    
    ._tedx_ticket_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include lg { grid-template-columns: repeat(2, 1fr); }
        grid-gap: 25px;
        @include md { grid-gap: 50px; }
        @include lg { grid-gap: 75px; }
        @include xl { grid-gap: 100px; }
        align-items: center;

        &:first-child {

            ._tedx_ticket {
                @include lg {
                    order: 0;
                }
            }
        }

        &:last-child {
            margin-top: 50px;
            @include md { margin-top: 100px; }
            
            ._tedx_ticket {
                @include lg {
                    order: 1;
                }
            }
        }
    }

    ._tedx_ticket_detail {
        order: 1;
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;

        ._tedx_ticket_description {
            flex: 1;

            div {
                overflow: hidden;
            }

            h3 {
                color: $white;
                text-transform: uppercase;
                font-size: 1.25rem;
                @include md { font-size: 1.5rem; }
                font-weight: 800;
                font-family: "Open Sans", sans-serif;
                margin-bottom: 1rem;
                @include lg { margin-bottom: 2rem; }

                span {
                    color: $red;
                }
            }

            p {
                color: $white-50;
                font-family: "Open Sans", sans-serif;
                font-size: .75rem;
                @include lg { font-size: .8rem; }
                font-weight: 300;
                line-height: 1.5;

                span {
                    color: $white;
                }
            }

            a {
                color: $red;
                font-family: "Open Sans", sans-serif;
                font-size: .8rem;
                @include lg { font-size: 1rem; }
                font-weight: 300;
                text-decoration: none;
                transition: 0.4s $cubiz-bezier;
                display: inline-block;
                margin-top: 1rem;
                @include lg { margin-top: 1rem; }

                &:hover {
                    margin-left: 0.5rem;
                }
            }
        }

        ._tedx_ticket_button {
            margin-top: 1rem;
            @include lg { margin: 0; }
            
            a,
            button {
                box-sizing: border-box;
                appearance: none;
                outline: none;
                width: 100%;
                height: auto;
                padding: .75rem 1.75rem;
                @include md { padding: 1rem 2rem; }
                @include md { padding: .75rem 2rem; }
                border: none;
                border-radius: 100px;
                background: $red-50;
                color: $white;
                font-size: .75rem;
                @include md { font-size: 1rem; }
                font-weight: 300;
                font-family: "Open Sans", sans-serif;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 0.4s $cubiz-bezier;

                &:hover {
                    background: $red;
                }

                strong {
                    font-weight: 400;
                }
            }
        }
    }
}